@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');



body {
    /* background-color: black; */
    /* box-shadow: 0px 0px 15px 5px #FF941F;*/
    /* box-shadow: 0 9px 0px 0px #FF941F, 0 -9px 0px 0px #FF941F, 12px 0 15px -4px #FF941F, -12px 0 15px -4px #FF941F; */
    /* background: #FF941F;
filter: blur(107px); */
overflow: scroll;
}

.events-main {
    /* background-color: black; */
    height: 80vh;
    margin: 25px 0px;
    /* width: 100vw; */
    /* z-index: -1; */
}
.event-bg
{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    background-color: #06000C;
    /* box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, inset 12px 0 15px -4px #ff941f, inset -12px 0 15px -4px #ff941f; */
    /* -webkit-filter: drop-shadow(0px 0px 30px #FFD747); */
}

#floating1 {
    position: absolute;
    left: -20px;
    top: 470px;
}

#floating2 {
    position: absolute;
    left: 800px;
    top: 130px;
}

#floating3 {
    position: absolute;
    right: -20px;
    top: 570px;
}

#floating4 {
    position: absolute;
    left: 507px;
    bottom: 20px;
}

.event-logo
{
    min-width: 201px;
    width: 70%;
    max-width: 370px;
    height: 67.68px;
}

.event-logo img {
  width: 100%;
}

.desc {
    font-family: 'Iceberg';
    /* font-style: normal; */
    /* font-weight: 400; */
    font-size: 1.2rem;
    /* line-height: 29px; */
    text-align: center;
    /* letter-spacing: 0.06em; */
    color: #9E9E9E;
}

.event-content {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}


.card-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.event-img 
{
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    -webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

   
}
.event-img>img 
{
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
   
}
.event-desc{
    color: white;
    height: fit-content;
    position: absolute;
    width: 90%;
    margin: auto;
    font-size: 1.2rem;
    font-weight: 600;
    opacity: 0;
    transition: 0.5s ease-in;
    pointer-events: none;
    text-align: center;
}

 .event-card :hover .event-cover
{
    -webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(80%) blur(6px) brightness(40%);


}
.event-card :hover + .event-desc
{
  opacity: 1;
}


.event-card
{
    max-width: 230px;
    height: 326px;
    background: #501515;
    box-shadow: 0px 3.45232px 5.17848px rgb(141 6 72 / 32%), 0px 3.45232px 17.2616px rgb(141 6 72 / 35%), 0px 3.45232px 10.357px rgb(141 6 72 / 25%), 0px 3.45232px 11.22px rgb(141 6 72 / 25%), 0px 3.45232px 20.7139px rgb(141 6 72 / 25%), 0px 3.45232px 34.5232px #8d0648;
    border-radius: 8px;
    width: 100%;
    position: relative;
    display: flex;
    margin: 10px 48px;
    justify-content: center;
    align-items: center;
}

.btns {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    width: 90%;
    max-width: 580px;
}
.btns1{
    width: 45%;
    display: flex;
    margin: 0px 8px;
}

.btns1 button {
    color: black;
    /* color: wheat; */
    background: none;
    /* border: none; */
    width: 100%;
    /* width: 266px; */
    /* width: 100%; */
    height: 64px;
    background: #FFD747;
    box-shadow: 0px 0px 5px #ffc702;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Iceberg';
    font-size: 25px;
    margin: auto;
}

.btns1 button:hover {
    color: white;
    border: 1px solid #FFD747;
    filter: drop-shadow(0px 0px 7px #FFC452);
    border-radius: 3px;
    background: none;
    border: 1px solid #FFD747;
    filter: drop-shadow(0px 0px 7px #FFC702);
    border-radius: 10px;
}
.btns2{
    width: 45%;
    display: flex;
    justify-content: center;
    margin: 0px 8px;
}

.btns2 button{
    color: white;
    border: 1px solid #FFD747;
    filter: drop-shadow(0px 0px 5px #FFC452);
    border-radius: 3px;
    background: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Iceberg';
    font-size: 25px;
    width: 100%;
    border: 1px solid #FFD747;
    filter: drop-shadow(0px 0px 5px #FFC702);
    border-radius: 10px;

}
.yt-icon img,.btns2 button:hover {
    /* filter: invert(1); */
    /* filter: invert(1); */
}
.btns2 button:hover{
    color: black;
    /* color: wheat; */
    background: none;
    /* border: none; */
    width: 266px;
    height: 64px;
    background: #ffd74758;
    box-shadow: 0px 0px 7px #FFC702;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Iceberg';
    font-size: 25px;
}



.yt-icon {
    position: relative;
    top: 4px;
    margin-left: 10px;

    /* filter: invert(1); */
}

.arrow-icon {
    margin-left: 10px;
}

.rectBox {
    width: 50px;
    height: 100vh;
    position: absolute;
    background-color: #FF941F;
    border: 2px solid red;
    filter: blur(107px);
    z-index: 3;
    left: 0;
    top: 5%;
}

.rectBox2 {
    width: 50px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 5%;
   
    background-color: #FF941F;
    border: 2px solid red;
    filter: blur(107px);
    z-index: 3;
}

@media only screen and (max-width: 1200px) {
    
  
   .btns
   {
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .btns1
   {
    width: 50%;
    height: 78px;
    min-width: 250px;
    display: flex;
    margin: 10px 8px;
   }
   .btns2
   {
    width: 50%;
    height: 65px;
    display: flex;
    min-width: 250px;
    margin: 10px 8px;
   }
   .btns1 button
   {
    color: black;
    /* color: wheat; */
    background: none;
    /* border: none; */
    width: 100%;
    /* width: 266px; */
    /* width: 100%; */
    /* height: 64px; */
    background: #FFD747;
    padding: 15px 5px;
    box-shadow: 0px 0px 6px #ffc702;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Iceberg';
    font-size: 1.3rem;
    margin: auto;

   }
   .desc
   {
    padding: 30px 7px;
    font-size: 1rem;
   }
   .event-logo
   {
    margin-top: 20px;
   }
   .events-main
   {
    height: unset;
    overflow-y: scroll;
   }
   .card-group
   {
    flex-direction: column;
    align-items: center;
   }
   .event-bg
   {
    overflow-y:scroll;
   }
   .rectBox
   {
    width: 35px;
    height: 150vh;
   }
   .rectBox2
   {
    width: 35px;
    height: 150vh;
   }


}